@font-face {
    font-family: 'MiFuente';
    src: url('/media/fonts/Eremaeus_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MiFuente', 'Times New Roman', Times, serif, sans-serif;
    background-color: black;
    color: white; 
    margin: 0; 
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
}


#search-bar {
    display: flex; 
    justify-content: center; 
    margin: 20px 0; 
    padding: 0 10px; 
}

#search-input {
    flex-grow: 1; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px 0 0 5px; 
    outline: none; 
    font-size: 16px; 
}

#search-form button {
    background-color: #333;
    color: white; 
    border: none; 
    border-radius: 0 5px 5px 0; 
    padding: 10px; 
    cursor: pointer; 
    font-size: 16px; 
}

#search-form button::before {
    content: "\1F50D"; /* Unicode de la lupa */
    font-size: 20px; /* Tamaño de la lupa */
}

#search-form {
    width: 100%; 
    max-width: 600px; 
    display: flex; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url('/media/images/Miro.png'); 
    background-size: cover; 
    height: 100px; 
}
