@font-face {
    font-family: 'MiFuente';
    src: url('/media/fonts/Eremaeus_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MiFuente', 'Times New Roman', Times, serif, sans-serif;
    background-color: black;
    color: white; 
    margin: 0; 
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
}

#search-bar {
    margin: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url('/media/images/Miro.png'); 
    background-size: cover; 
    height: 100px; 
}
