<div style="margin-left: 15px;">
    <ul>
        
        <li>{{demon.name}}</li>
        <li>Aligment: {{demon.alignment}}</li>
        <li>Race: {{demon.race}}</li>

        <li>Description:</li>
        <p>{{demon.info}}</p>
        
    </ul>
</div>
