<div>
    <h1>Tell us about your demon:</h1>
    <form id="demonCreation">

        <label>Name:</label>
        <input name="name">
        <br/>
        <label>Alignment:</label>
        <select name="alignment">
            <option value="Neutral">Neutral</option>
            <option value="Chaos">Chaos</option>
            <option value="Law">Law</option>
            <option value="Other">Other</option>
        </select>
        <br/>
        <label>Race:</label>
        <input name="race">
        <br/>
        <label for="largeText">Info:</label>
        <textarea id="largeText" name="info" rows="10" cols="50" placeholder="Describe your demon..."></textarea>
        <br/>
        <label>Portrait: </label> <input type="file" name="image" accept="image/*">
        
        <input type="submit">
    </form>
</div>