<div style="margin-left: 15px;">
    <ul>
        {{#each demon}}
        <li>{{name}}</li>
        <li>Aligment: {{alignment}}</li>
        <li>Race: {{race}}</li>

        <li>Description:</li>
        <p>{{info}}</p>
        {{/each}}
    </ul>
</div>
