<div>
    <h1>Welcome, demon summoner:</h1>
    <form id="loginForm">
        <label>Email:</label>
        <input name="email">
        <br/>
        <label>Password:</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>No account? <a href="/api/user/register">Get your own here.</a></p>
</div>
<script src="/js/login.js"></script>