<div style="margin-left: 15px;">
    <h3>Resultados de Búsqueda</h3>
  
    <ul>
        {{#each demon}}
        <li>
            <h4>{{this.name}}</h4>
            <img src="{{this.imagePath}}" alt="{{this.name}}" style="max-width: 150px; max-height: 150px;">
        </li>
        {{/each}}
    </ul>
</div>
