<div class="fondoRegistroEIngreso">
    <h1>Fill us with your data:</h1>
    <form id="registerForm">

        <label>Username:</label>
        <input name="name">
        <br/>
        <label>Email:</label>
        <input name="email">
        <br/>
        <label>Password:</label>
        <input type="password" name="password">
        <br/>
        <label>Confirm password:</label>
        <input type="password" name="confirmpassword">
        
        <input type="submit">
    </form>
    <p>You already had an account? <a href="/api/user/login">Then enter here.</a></p>
</div>
<script src="/js/signup.js"></script>