<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>{{title}}</title>

        <link rel="stylesheet" href="/style/main.css">
    </head>

    <body>
        
        <header>
            <img id="logo" src="media/images/SMTLogo.png" alt="">
            <nav>
                <div id="userLog">
                    {{#if user}}
                        <li><a href="/api/user/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/api/user/login">Log in</a></li>
                    {{/if}}
                </div>
            </nav>
            <div id="search-bar">
                <form id="search-form" action="/api/search/results" method="GET">
                    <input type="text" id="search-input" name="q" placeholder="search...">
                    <button type="submit"></button>
                </form>
            </div>
        </header>

        {{{body}}}


        <div class="footer"></div>
    </body>
</html>